@import "lib/settings"
@import "lib/general"
@import "lib/grid"
@import "lib/font"
@import "theme/footer"
$widthContent: 60rem
$orange : #C75809
$yellow  : #F1D100
$gray : rgb(109, 110, 113)

.Header
  width: 100%
  background: #fdd200
  position: relative
  figure
    max-width: rem(180)
.Header-content
  max-width: $widthContent
  margin: auto
  padding: rem(5) 0  rem(15) 0
main
  max-width: 68rem
  margin: 2rem auto
  position: relative
body
  font-size: .875rem

.Nav-back
  a
    padding: rem(8)
    color: black
    font-size: rem(16)
    font-weight: 500
.Pay
  h1
    font-size: rem(26)
    color: #6d6e71
  p
    font-size: rem(16)
    color: #6d6e71
  .user
    text-transform: capitalize
  button
    padding: rem(10) rem(50)
    background: #67b9e5
    margin: rem(20) 0
    color: white
    font-size: rem(14)

.Admin-h2
  font-size: 1.4rem
  font-weight: 300
  color: #6d6e71
  b
    font-weight: 400
.Admin-table
  margin: auto
  width: 100%
  max-width: rem(800)
  box-shadow: 0 rem(3) rem(10) #e3e3e3
  thead
    background: #fdd200
  th
    border-left: rem(1) solid #f6cd07
    &:first-child
      border-left: none
  th, td
    padding: rem(16) rem(4)
    text-align: center
  tbody
    tr:nth-child(even)
      background: #fffbe8
  svg
    max-width: rem(25)
    &:hover g
      fill: #be9e0b
  .loader
    max-width: rem(30)
    display: none
.Admin-payUpdate
  background: #f6cd07
  padding: rem(8) rem(16) rem(7)
  color: black
  font-weight: 500
  &:hover
    box-shadow: inset 0 rem(-4) 0 #e8c20c

.Search
  margin: rem(30) auto rem(8)
  max-width: rem(800)
  position: relative
  input
    width: rem(300)
    padding: rem(8) rem(4)
    height: rem(40)
  button
    display: block
    position: absolute
    right: rem(3)
    top: rem(3)
    width: rem(30)
.success
  text-align: center
  font-size: 1.2rem
  background: #dcffd2
  padding: rem(1)
  margin: rem(8) 0
  color: #6d6e71
.UserEdit
  margin:  1.5rem 0
  color: #6d6e71
  font-size: 1rem
  label p
    margin: 0.25rem 0 0.5rem
    text-align: right
    width: 100%
    color: red
    font-size: 0.875rem
    & ~ input, & ~ select, & ~ textarea
      border: 0.125rem red solid

  label
    padding: 0 1.25rem
    margin: 1rem auto
  & input,  & select, & textarea
    border: 0.125rem #6d6e71 solid
    height: 2rem
    width: 100%
    padding: 0 0.25rem
    font-size: 0.875rem
  textarea
    height: 9.375rem
    padding-top: 0.25rem
  button
    padding: 0.625rem 3.125rem
    background: #67b9e5
    margin: 1.25rem 0
    color: white
    font-size: 0.875rem
.back
  padding: 0.625rem 3.125rem
  background: #67b9e5
  margin: 1.25rem 0
  color: white
  font-size: 0.875rem
.Form-figure-user
  margin: 1rem auto
  position: relative
  text-align: center
  input
    position: absolute
    top: 0
    max-width: 100%
    height: 100%
    opacity: 0
    left: 0
  .error
    color: red

.select2-container--default .select2-selection--multiple, .select2-selection--multiple, .select2-selection--multiple
  border: 2px solid #6d6e71 !important
  border-radius: 0 !important


.Directory
  li
    padding: 1rem
    position: relative
  article
    box-shadow: rem(2) rem(2) rem(10) rem(2) #e8e8e8
    padding: rem(20)
    max-height: rem(240)
    height: rem(250)
  figure
    max-height: rem(220)
    overflow: hidden
  h3
    text-transform: uppercase
    font-size: rem(20)
    font-weight: 500
    color: #f6cc00
    margin: 0
  p
    text-align: justify
    max-height: rem(56)
    overflow: hidden
    font-size: rem(14)
    line-height: rem(18)
    padding-right: 1rem
    color: #585858
    font-weight: 300
    margin: rem(6) 0 rem(8)
  span
    color: #313030
    background: #fdd200
    padding: rem(6) rem(11) rem(4)
    margin: 0 rem(6) rem(8) 0
    font-size: rem(12)
.Directory-userInfo
  padding: 0  rem(15) rem(10)
.Directory-profile
  position: absolute
  right: rem(40)
  bottom: rem(39)
  display: block
  padding: rem(8) rem(10) rem(7)
  background: #1685e3
  color: white
  text-transform: capitalize

