a {
  text-decoration: none; }

body, html {
  font-weight: 400;
  height: 100%;
  width: 100%; }

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

*:focus {
  outline: 0; }

li {
  list-style: none; }

button {
  padding: 0;
  border: none;
  background: none; }

img {
  max-width: 100%;
  display: block; }

h1, h2, h3, h4, h5, ul, figure {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

main {
  margin: auto;
  width: 100%; }

*:focus {
  outline: none; }

.pagination {
  width: 100%;
  text-align: center;
  margin: 2rem 0 3.75rem 0; }
  .pagination li {
    display: inline-block;
    vertical-align: middle; }
  .pagination a {
    display: inline-block;
    vertical-align: middle;
    padding: .3rem .6rem !important;
    margin: 0 .15rem;
    border-radius: .25rem;
    color: white;
    background: #f6cd07; }
  .pagination span {
    font-size: 1.3rem;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding: .3rem .6rem !important;
    margin: 0 .15rem;
    border-radius: .25rem;
    background: #EEE;
    color: #C1C1C1; }

.Button {
  line-height: 2.75rem;
  background: #C5D257;
  font-size: .85rem;
  font-weight: 500;
  width: 8rem;
  display: inline-block;
  text-align: center;
  color: #253A1B;
  border-radius: .125rem; }
  .Button:hover {
    cursor: pointer;
    box-shadow: inset 0 -.375rem 0 #B1BD4E; }

.AlignRight {
  text-align: right; }

.Title {
  padding: 1rem 0 2.5rem;
  font-weight: 500; }

.BackContainer {
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.02); }

.Map {
  width: 100%;
  height: 18.75rem;
  border-top: 0.375rem solid rgba(0, 0, 0, 0.5);
  border-bottom: 0.375rem solid rgba(0, 0, 0, 0.5); }

.MessagePlatform {
  height: 100vh;
  width: 100vw;
  background: rgba(242, 242, 242, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20; }

.MessagePlatform-content {
  max-width: 48.75rem;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0 0 2.0625rem 0 #D4D4D4;
  padding: 4rem;
  position: relative;
  text-align: justify; }
  .MessagePlatform-content p {
    font-weight: 300; }
  .MessagePlatform-content a {
    color: #27383F;
    text-decoration: underline; }
  .MessagePlatform-content h2 {
    color: #27383F;
    font-weight: 100; }

.MessagePlatform-last {
  text-align: right; }
  .MessagePlatform-last span {
    color: #27383F;
    font-weight: 300; }

.MessagePlatform-close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: #7F7F7F;
  font-size: 1.5rem !important;
  color: #C5D257;
  font-weight: 100 !important;
  padding: 0.5rem 0.75rem 0.375rem !important;
  cursor: pointer; }

.MessagePlatform-ok {
  border-left: 1.5rem solid #E3F268; }

.MessagePlatform-warning {
  border-left: 1.5rem solid #fff961; }

.MessagePlatform-error {
  border-left: 1.5rem solid #ff5b65; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .row.reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.col.reverse {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

[class^="col-"], [class*=" col-"] {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.small-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.small-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.small-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.small-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.small-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.small-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.small-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.small-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.small-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.small-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.small-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.small-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

@media (min-width: 45rem) {
  .medium-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .medium-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .medium-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .medium-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .medium-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .medium-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .medium-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .medium-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .medium-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .medium-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .medium-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .medium-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; } }

@media (min-width: 65rem) {
  .col-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; } }

.offset-small-1 {
  margin-left: 8.3333333333%; }

.offset-small-2 {
  margin-left: 16.6666666667%; }

.offset-small-3 {
  margin-left: 25%; }

.offset-small-4 {
  margin-left: 33.3333333333%; }

.offset-small-5 {
  margin-left: 41.6666666667%; }

.offset-small-6 {
  margin-left: 50%; }

.offset-small-7 {
  margin-left: 58.3333333333%; }

.offset-small-8 {
  margin-left: 66.6666666667%; }

.offset-small-9 {
  margin-left: 75%; }

.offset-small-10 {
  margin-left: 83.3333333333%; }

.offset-small-11 {
  margin-left: 91.6666666667%; }

.offset-small-12 {
  margin-left: 100%; }

@media (min-width: 45rem) {
  .offset-medium-1 {
    margin-left: 8.3333333333%; }
  .offset-medium-2 {
    margin-left: 16.6666666667%; }
  .offset-medium-3 {
    margin-left: 25%; }
  .offset-medium-4 {
    margin-left: 33.3333333333%; }
  .offset-medium-5 {
    margin-left: 41.6666666667%; }
  .offset-medium-6 {
    margin-left: 50%; }
  .offset-medium-7 {
    margin-left: 58.3333333333%; }
  .offset-medium-8 {
    margin-left: 66.6666666667%; }
  .offset-medium-9 {
    margin-left: 75%; }
  .offset-medium-10 {
    margin-left: 83.3333333333%; }
  .offset-medium-11 {
    margin-left: 91.6666666667%; }
  .offset-medium-12 {
    margin-left: 100%; } }

@media (min-width: 65rem) {
  .offset-1 {
    margin-left: 8.3333333333%; }
  .offset-2 {
    margin-left: 16.6666666667%; }
  .offset-3 {
    margin-left: 25%; }
  .offset-4 {
    margin-left: 33.3333333333%; }
  .offset-5 {
    margin-left: 41.6666666667%; }
  .offset-6 {
    margin-left: 50%; }
  .offset-7 {
    margin-left: 58.3333333333%; }
  .offset-8 {
    margin-left: 66.6666666667%; }
  .offset-9 {
    margin-left: 75%; }
  .offset-10 {
    margin-left: 83.3333333333%; }
  .offset-11 {
    margin-left: 91.6666666667%; }
  .offset-12 {
    margin-left: 100%; } }

.start {
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.end {
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top {
  -ms-flex-align: start;
  align-items: flex-start; }

.top-element {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.middle {
  -ms-flex-align: center;
  align-items: center; }

.bottom {
  -ms-flex-align: end;
  align-items: flex-end; }

.bottom-element {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.right-element {
  -ms-flex-pack: end;
  justify-content: flex-end; }

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between {
  -ms-flex-pack: justify;
  justify-content: space-between; }

.first {
  -ms-flex-order: -1;
  order: -1; }

.last {
  -ms-flex-order: 1;
  order: 1; }

.self-start {
  -ms-flex-item-align: start;
  align-self: flex-start; }

.columns div:nth-child(even) {
  padding-right: 0.625rem; }

.columns div:nth-child(odd) {
  padding-left: 0.625rem; }

@font-face {
  font-family: 'brown';
  src: url("fonts/brown.eot?#iefix") format("embedded-opentype"), url("fonts/brown.woff") format("woff"), url("fonts/brown.ttf") format("truetype"), url("brown.svg#BrownStd-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brown-bold';
  src: url("../fonts/brownBold.eot?#iefix") format("embedded-opentype"), url("../fonts/brownBold.woff") format("woff"), url("../fonts/brownBold.ttf") format("truetype"), url("brownBold.svg#BrownStd-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'din';
  src: url("../fonts/din.eot?#iefix") format("embedded-opentype"), url("../fonts/din.woff") format("woff"), url("../fonts/din.ttf") format("truetype"), url("din.svg#DINPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?i4wobk");
  src: url("../fonts/icomoon.eot?i4wobk#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?i4wobk") format("truetype"), url("../fonts/icomoon.woff?i4wobk") format("woff"), url("../fonts/icomoon.svg?i4wobk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cart:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e602"; }

.icon-instagram:before {
  content: "\e60a"; }

.icon-twitter:before {
  content: "\e601"; }

.Footer {
  max-width: 65rem;
  margin: auto;
  position: relative; }
  .Footer a {
    display: block;
    text-align: right;
    width: 50%;
    border-bottom: .125rem solid #000;
    color: #000;
    font-size: 1.5rem;
    padding-bottom: .2rem;
    margin: 4rem 0 2rem; }

.Header {
  width: 100%;
  background: #fdd200;
  position: relative; }
  .Header figure {
    max-width: 11.25rem;
    margin: 0.5rem auto 1.25rem; }
    @media (min-width: 45rem) {
      .Header figure {
        margin: 0; } }

.Header-content {
  max-width: 60rem;
  margin: auto;
  padding: 0.3125rem 0 0.9375rem 0; }

main {
  max-width: 68rem;
  margin: 2rem auto;
  position: relative; }

body {
  font-size: .875rem; }

.Nav-back {
  margin: auto; }
  @media (min-width: 45rem) {
    .Nav-back {
      margin: 0; } }
  .Nav-back a {
    padding: 0.5rem;
    color: black;
    font-size: 1rem;
    font-weight: 500; }

.Pay h1 {
  font-size: 1.625rem;
  color: #6d6e71; }

.Pay p {
  font-size: 1rem;
  color: #6d6e71; }

.Pay .user {
  text-transform: capitalize; }

.Pay button {
  padding: 0.625rem 3.125rem;
  background: #67b9e5;
  margin: 1.25rem 0;
  color: white;
  font-size: 0.875rem; }

.Admin-h2 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #6d6e71; }
  .Admin-h2 b {
    font-weight: 400; }

.Admin-table {
  margin: auto;
  width: 100%;
  max-width: 50rem;
  box-shadow: 0 0.1875rem 0.625rem #e3e3e3; }
  .Admin-table thead {
    background: #fdd200; }
  .Admin-table th {
    border-left: 0.0625rem solid #f6cd07; }
    .Admin-table th:first-child {
      border-left: none; }
  .Admin-table th, .Admin-table td {
    padding: 1rem 0.25rem;
    text-align: center; }
  .Admin-table tbody tr:nth-child(even) {
    background: #fffbe8; }
  .Admin-table svg {
    max-width: 1.5625rem; }
    .Admin-table svg:hover g {
      fill: #be9e0b; }
  .Admin-table .loader {
    max-width: 1.875rem;
    display: none; }

.Admin-payUpdate {
  background: #f6cd07;
  padding: 0.5rem 1rem 0.4375rem;
  color: black;
  font-weight: 500; }
  .Admin-payUpdate:hover {
    box-shadow: inset 0 -0.25rem 0 #e8c20c; }

.Search {
  margin: 1.875rem auto 0.5rem;
  max-width: 50rem;
  position: relative; }
  .Search input {
    width: 18.75rem;
    padding: 0.5rem 0.25rem;
    height: 2.5rem; }
  .Search button {
    display: block;
    position: absolute;
    right: 0.1875rem;
    top: 0.1875rem;
    width: 1.875rem; }

.success {
  text-align: center;
  font-size: 1.2rem;
  background: #dcffd2;
  padding: 0.0625rem;
  margin: 0.5rem 0;
  color: #6d6e71; }

.UserEdit {
  margin: 1.5rem 0;
  color: #6d6e71;
  font-size: 1rem; }
  .UserEdit label p {
    margin: 0.25rem 0 0.5rem;
    text-align: right;
    width: 100%;
    color: red;
    font-size: 0.875rem; }
    .UserEdit label p ~ input, .UserEdit label p ~ select, .UserEdit label p ~ textarea {
      border: 0.125rem red solid; }
  .UserEdit label {
    padding: 0 1.25rem;
    margin: 1rem auto; }
  .UserEdit input, .UserEdit select, .UserEdit textarea {
    border: 0.125rem #6d6e71 solid;
    height: 2rem;
    width: 100%;
    padding: 0 0.25rem;
    font-size: 0.875rem; }
  .UserEdit textarea {
    height: 9.375rem;
    padding-top: 0.25rem; }
  .UserEdit button {
    padding: 0.625rem 3.125rem;
    background: #67b9e5;
    margin: 1.25rem 0;
    color: white;
    font-size: 0.875rem; }

.back {
  padding: 0.625rem 3.125rem;
  background: #67b9e5;
  margin: 1.25rem 0;
  color: white;
  font-size: 0.875rem; }

.Form-figure-user {
  margin: 1rem auto;
  position: relative;
  text-align: center; }
  .Form-figure-user input {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: 100%;
    opacity: 0;
    left: 0; }
  .Form-figure-user .error {
    color: red; }

.select2-container--default .select2-selection--multiple, .select2-selection--multiple, .select2-selection--multiple {
  border: 2px solid #6d6e71 !important;
  border-radius: 0 !important; }

.Directory input {
  height: 2.25rem;
  width: 90%;
  padding: 0.625rem; }

.Directory h1 {
  margin: 2.25rem 0.625rem;
  font-weight: 500;
  color: #665; }

.Directory li {
  padding: 1rem;
  position: relative; }

.Directory article {
  box-shadow: 0.125rem 0.125rem 0.625rem 0.125rem #e8e8e8;
  padding: 1.25rem; }
  @media (min-width: 45rem) {
    .Directory article {
      max-height: 15rem;
      height: 15.625rem; } }

.Directory figure {
  max-height: 13.75rem;
  overflow: hidden; }

.Directory h3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 500;
  color: #f6cc00;
  margin: 0; }

.Directory p {
  text-align: justify;
  max-height: 3.5rem;
  overflow: hidden;
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding-right: 1rem;
  color: #585858;
  font-weight: 300;
  margin: 0.375rem 0 0.5rem; }

.Directory span {
  color: #313030;
  background: #fdd200;
  padding: 0.375rem 0.6875rem 0.25rem;
  margin: 0 0.375rem 0.5rem 0;
  font-size: 0.75rem; }

.Directory-userInfo {
  padding: 0 0.9375rem 0.625rem; }

.Directory-MeProfile {
  padding: 0.75rem 1.25rem 0.625rem;
  text-transform: capitalize;
  font-weight: 300;
  color: #666655;
  font-size: 1.25rem; }

.Directory-form button {
  background: #1685e3;
  color: white;
  padding: 0.625rem 1.625rem;
  margin: 1.25rem 1.875rem 1.5625rem; }

.Directory-form .select2 {
  width: 83.3333333333% !important;
  height: 0.625rem !important; }

.Directory-form .select2-selection {
  border-width: 0.0625rem !important; }

.Directory-form input {
  width: 83.3333333333% !important;
  margin-top: 1.625rem;
  padding: 0.4375rem 1.25rem;
  border: 0.0625rem #6d6e71 solid; }

.Directory-form .select2-search__field {
  margin-top: 0.5rem !important; }

.Directory-profile {
  position: absolute;
  right: 2.5rem;
  bottom: 2.4375rem;
  display: block;
  padding: 0.5rem 0.625rem 0.4375rem;
  background: #1685e3;
  color: white;
  text-transform: capitalize; }

.Directory.Directory-user article {
  height: auto;
  max-height: inherit; }

.Directory.Directory-user figure {
  max-height: inherit;
  overflow: visible; }

.Directory.Directory-user h3 {
  font-size: 2rem; }

.Directory.Directory-user .Directory-userInfo a {
  color: #1685e3;
  text-decoration: underline; }

.Directory.Directory-user .Directory-userInfo article {
  padding: 0;
  box-shadow: none; }

p.Directory-activity {
  font-size: 1rem;
  line-height: 1.375rem;
  max-height: inherit; }

.Send-email input {
  margin: 0.375rem 0;
  color: gray; }

.Send-email textarea {
  margin: 0.375rem 0;
  height: 6.25rem;
  border: 0.0625rem solid #efefef;
  padding: 0.375rem 0.75rem;
  color: gray; }

.Send-email h4 {
  color: #fdd200;
  font-size: 1rem;
  font-weight: 400; }

.Send-email button {
  background: #fdd200;
  padding: 0.375rem 0.75rem; }

.error {
  background: red !important;
  color: white !important;
  display: none; }

#SendMailMessage {
  text-align: right;
  font-weight: 400;
  font-size: 1.25rem;
  color: #c5d257;
  display: none; }

.error.show {
  display: block; }

.flatpickr-current-month {
  display: inline !important; }

/*# sourceMappingURL=style.css.map */
